Your insurance details have been received.

Individual Deductible In Net: <%= @data.individual_deductible_in_net || "$0.00" %>
Individual Deductible Remaining In Net: <%= @data.individual_deductible_remaining_in_net || "$0.00" %>
Individual OOP Remaining In Net: <%= @data.individual_oop_remaining_in_net || "$0.00" %>
Co-Insurance In Net: <%= @data.co_insurance_in_net %>
Co-Pay In Net: <%= @data.co_pay_in_net %>

You may reply to this email with any questions you have.