<p>
  Hi,<br><br>

  In order for us to process payments for your account, you need to connect a payment method. To connect a payment method, simply click the link below and follow the instructions:<br><br>
  <a href=<%= @url %> target="_blank"><%= @url %></a>
</p>

<p>
  Once you have connected a payment method to your account, we can then process payments for you automatically.
</p>

<p>
  If you have any trouble or need any help, please reply to this email.
</p>
