<p>
  Hi,<br><br>

  You can reset your password by visiting the URL below:<br>
  <a href="<%= @url %>" target="_blank"><%= @url %></a>
</p>

<p>
  If you didn't request this change, please ignore this.
</p>
