<div class="article-cta observe">
	<div class="wrapper">
		<h4 class="has-text-right">
			Mindful Care offers telepsychiatry appointments for patients in IL, NJ and NY
		</h4>
		<div class="link-container">
			<%= link "SCHEDULE TODAY", to: Routes.page_path(@conn, :schedule), class: "btn btn-white nowrap" %>
		</div>
	</div>
</div>
